@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) { */
/* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 134 27% 15%;
    --card: 0 0% 100%;
    --card-foreground: 134 27% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 134 27% 15%;
    --primary: 134 27% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 134 30% 95%;
    --secondary-foreground: 134 27% 29%;
    --muted: 134 15% 95%;
    --muted-foreground: 134 15% 45%;
    --accent: 134 40% 85%;
    --accent-foreground: 134 27% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 134 20% 90%;
    --input: 134 20% 90%;
    --ring: 134 27% 29%;
    --chart-1: 134 27% 29%;
    --chart-2: 134 40% 45%;
    --chart-3: 134 20% 60%;
    --chart-4: 94 27% 45%;
    --chart-5: 154 27% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 134 27% 10%;
    --foreground: 0 0% 98%;
    --card: 134 27% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 134 27% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 134 27% 70%;
    --primary-foreground: 134 27% 10%;
    --secondary: 134 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 134 15% 25%;
    --muted-foreground: 134 15% 65%;
    --accent: 134 20% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 134 15% 25%;
    --input: 134 15% 25%;
    --ring: 134 27% 70%;
    --chart-1: 134 27% 70%;
    --chart-2: 134 40% 60%;
    --chart-3: 134 20% 50%;
    --chart-4: 94 27% 60%;
    --chart-5: 154 27% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
